<h1>Teams</h1>

<% if teams.any? %>
  <table id="teams">
    <tr>
      <th>Team Name</th>
      <th>API Team Id</th>
    </tr>
    <% teams.each do |team| %>
      <tr class="team">
        <td><%= team.name %></td>
        <td><%= team.api_team_id %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="placeholder">There are no teams yet.</p>
<% end %>